/***************************
****************************
BASE STYLES
****************************
***************************/

* {box-sizing: border-box;}

a {
  color: #fff;
  text-decoration: none;
    text-transform: uppercase;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
    font-family: 'Libre Franklin', serif;
}

a:hover {
  color: #2a2428;
    text-decoration-line: underline;
}
a.active {
  color: #2a2428;
}

h1,h2,h3 {
    font-family: 'Libre Franklin', sans-serif;

}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}

p {
    color: #2a2428;
    font-family: 'Libre Baskerville', serif;
    max-width: 90%;
    padding: 0 30px;
    margin: 0 auto;

}

.heading-text {
    font-size: 350%;
    text-align: center;
}

span {
    font-family: 'Libre Franklin', serif;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    padding: 40px 0px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);  
    padding: 0;
}

/***************************
****************************
BACKGROUND COLORS FOR SECTIONS
****************************
***************************/

.welcome {

}

/***************************
****************************
HEADER AND NAV
****************************
***************************/

@media screen and (min-width: 761px) {
  .logo {
    float: left;
    margin: 1em 0 0 1em;  
  }
}

@media screen and (min-width: 761px) {
.SiteHeader {
  position: fixed;
  width: 100%;
  margin-top: 0;
}
}

header {
    background-color: #52A349;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 9999;    
}
    
.menu {
  background: #52A349;
  border-top: 1px solid #b3b3b3;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;  
}

@media screen and (min-width: 761px) {
  .menu {
    float: right;
    border: none;
    position: relative;
    width: initial;
  }
    
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  flex-grow: 1;
  text-align: center;
    margin-right: 3em;
}

.clearfix:after {
  content: " ";
  display: table;  
  clear: both;
}


/***************************
****************************
BANNER 
****************************
***************************/

 .banner {
    color: #fff;
     position: absolute;
     top: 20%;
     left: 1%;
     text-align: center;
}

.banner h1 {
    font-size: 7vmax;
    text-transform: uppercase;
}

.banner span {
    font-size: 3vmax;
}

#color-overlay { 
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/aac_hero.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

@media (min-width: 769px) {
    #color-overlay {
        margin-top: 70px;
        background-position: top;
    }
}

/***************************
****************************
TEXT AND PICTURE GRID
****************************
***************************/

.activities img {
    height: 280px;
    width: 280px;
    border: 3px solid #000;
    margin: 0 auto;
}

.grid {
    flex-direction: column;
    background-color: #EAF2EF;
}

.grid h3 {
    padding-top: 20px;
      height: 280px;
      width: 280px;
      margin: 20px 2em;
    font-size: 2rem;
    text-transform: uppercase; 
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 761px) {
    .grid h3 {
        margin: 20px 2em;
    }
}

.img-horseback span,.img-orca span,.img-plane span  { 
    background-color: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    color: #fff;
    /*display: inline; */
}

.img-horseback { 
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/horseback.jpg);
    background-position: center;
    
}

.img-orca { 
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/orca.jpg);
    background-position: top;
}

.img-plane { 
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/floatplane.jpg);
    background-position: center;
}

@media screen and (min-width: 761px) {
.activities {
        display: flex;
        margin: auto 0;
        flex-wrap: wrap;
    justify-content: space-around;
}
    
    .img-horseback button {
        position: absolute;
        bottom: 5px;
    }

.img-text {
    width: 50%;
    margin: auto 0; 
}
}

/***************************
****************************
IMAGE GALLERY
****************************
***************************/

.gallery {
  display: flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex; 
}

.gallery div {
  -webkit-box-flex: auto;
  flex: auto; 
  width: 300px;
    font-size: 0;
}
    
.gallery img { 
  width: 100%; 
  height: auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.gallery img:hover {
    filter: brightness(70%);
}

/***************************
****************************
CONTACT FORM, SECTION, AND BACKGROUND
****************************
***************************/

 .contact {
    width: 100%;
    background: url('../img/form-map.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
    color: oldlace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    border-radius: 3px
}

label {
    font-family: 'Libre Baskerville', serif;
}

/***************************
****************************
ABOUT SECTION
****************************
***************************/

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #EAF2EF;
}

.about p {
    margin-bottom: 3em;
}

/***************************
****************************
GOOGLE MAP
****************************
***************************/

#map {
    height: 400px;
    width: 100%;
}

/***************************
****************************
FOOTER
****************************
***************************/

.footer {
    text-align: center;
    height: 5em;
    margin-bottom: 4.5em;
    background-color: #03120E;
    color: #b3b3b3
}

.footer p {
    padding-top: 2em;
    color: aliceblue;
}

@media screen and (min-width: 761px) {
    .footer {
        margin-bottom: 0px;
    }
}




/***************************
****************************
LIGHTBOX
****************************
***************************/

.lightbox{
	display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
	padding-top: 30px;
	box-sizing: border-box;
}

.lightbox img{
	 display: block;
  margin: 0 auto; 
     max-width: 80%; 
    
}

.lightbox .caption{
	margin: 15px auto;
	width: 90%;
	text-align: center;
	color: #eee;
}

@media screen and (min-width: 761px) {
    .caption {
        width: 60%;
    }
}


.button {
    text-align: center;
    background-color: #293C54;
    width: 20em;
    padding: 2em 0;
    margin: 20px auto 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    border: solid 1px #1E441E;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.5);
}

.button a {
    text-align: center;
    padding: 2em 3.4em;
    position: relative;
    color: #fff;
}

.button a:hover {
    color: #293C54;
}

.button:hover, .button:focus {
	border: solid 1px #293C54;
    background: none;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.welcome p {
    margin: 2em 0 3em 0;
}
