/***************************
****************************
BASE STYLES
****************************
***************************/

html, body {
	padding: 0;
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	font-family: 'Libre Franklin', serif;
}

a:hover {
	color: #2a2428;
}

h1, h2, h3 {
	font-family: 'Libre Franklin', sans-serif;
}

li {
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
}

p {
	font-family: 'Libre Baskerville', serif;
	max-width: 90%;
	padding: 0 30px;
}

.welcome p {
	margin: 2em 0 3em 0;
}

.heading-text {
	font-size: 350%;
	text-align: center;
}

span {
	font-family: 'Libre Franklin', serif;
}


/***************************
****************************
HEADER AND NAV
****************************
***************************/

@media screen and (min-width: 837px) {
	.logo {
		float: left;
		margin: 0;
	}
}

@media screen and (min-width: 837px) {
	.SiteHeader {
		position: fixed;
		width: 100%;
		margin-top: 0;
	}
}

header {
	background-color: #52A349;
	text-align: center;
	width: 100%;
	top: 0;
	z-index: 9999;
}

.menu {
	background: #52A349;
	border-top: 1px solid #b3b3b3;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

@media screen and (min-width: 837px) {
	.menu {
		float: right;
		border: none;
		position: relative;
		width: initial;
	}
}

.menu ul {
	display: flex;
	list-style: none;
	padding-left: 0; /* centers ul due to inherent padding before list */
}

.menu ul li {
	flex-grow: 1;
	text-align: center;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.menu ul li a {
	font-size: 0.75rem;
	padding: 1em; /* enlarges clickable area */
}

@media screen and (min-width: 837px) {
	.menu ul li a {
		padding: 1em; /* enlarges clickable area */
		margin-right: 3em;
		font-size: 1em;
	}
}


/***************************
****************************
BANNER 
****************************
***************************/

.banner {
	color: #fff;
	position: absolute;
	top: 20%;
	left: 1%;
	text-align: center;
}

.banner h1 {
	font-size: 7vmax;
	text-transform: uppercase;
}

.banner span {
	font-size: 3vmax;
}

#color-overlay {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/aac_hero.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	max-width: 100%;
	height: 100vh;
}

@media (min-width: 836px) {
	#color-overlay {
		margin-top: 70px;
		background-position: top;
	}
}


/***************************
****************************
TEXT AND PICTURE GRID
****************************
***************************/

.activities img {
	height: 280px;
	width: 280px;
	border: 3px solid #000;
	margin: 0 auto;
}

.grid {
	flex-direction: column;
	background-color: #EAF2EF;
	margin: 0 auto;
	padding: 1em 0;
	width: 100%;
}

.grid h3 {
	padding-top: 20px;
	height: 280px;
	width: 280px;
	margin: 20px 2em;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

@media screen and (min-width: 761px) {
	.grid h3 {
		margin: 20px 2em;
	}
}

.img-horseback span, .img-orca span, .img-dog span {
	background-color: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
	color: #fff;
	
}

.img-horseback {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/horseback.jpg);
	background-position: center;
}

.img-orca {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/orca.jpg);
	background-position: top;
}

.img-dog {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dogsled.jpg);
	background-position: center;
}

.img-text {
    margin: 2em 0;
    text-align: center;
}
@media screen and (min-width: 761px) {
	.activities {
		display: flex;
		margin: auto 0;
		justify-content: space-around;
	}
	.img-horseback button {
		position: absolute;
		bottom: 5px;
	}
	.img-text {
		width: 50%;
		margin: auto 0;
	}
}


/***************************
****************************
BOOKING BUTTON
****************************
***************************/

/* the button is dead right now, but I would like to expand this feature in the full stack class */
.button {
	text-align: center;
	background-color: #293C54;
	width: 20em;
	padding: 2em 0;
	margin: 4em auto 3em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #1E441E;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.5);
}

.button a {
	text-align: center;
	padding: 2em 3.4em;
	position: relative;
	color: #fff;
}

.button a:hover {
	color: #293C54;
}

.button:hover, .button:focus {
	border: solid 1px #293C54;
	background: none;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}


/***************************
****************************
IMAGE GALLERY
****************************
***************************/

.gallery {
	display: flex;
	flex-wrap: wrap;
    background-color: #EAF2EF;
}

.gallery div {
	flex: auto;
	font-size: 0; /* closes margins */
}


/*two column*/
@media screen and (min-width: 20em) {
	.gallery div {
		width: 48%;
	}
}


/*three column*/
@media screen and (min-width: 40em) {
	.gallery div {
		width: 32%;
	}
}


/*four column*/
@media screen and (min-width: 75em) {
	.gallery div {
		width: 23.8%;
	}
}


/*five column*/
@media screen and (min-width: 100em) {
	.gallery div {
		width: 18.8%;
        max-width: 32%;
	} 
}

.gallery img {
	width: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.gallery img:hover {
	filter: brightness(70%);
}


/***************************
****************************
LIGHTBOX
****************************
***************************/

.lightbox {
	display: flex;
	flex-direction: column; /* displays captions below image */ 
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
	padding-top: 30px;
	box-sizing: border-box;
}

.lightbox img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

.lightbox .caption {
	margin: 15px auto;
	width: 90%;
	text-align: center;
	color: #eee;
}

@media screen and (min-width: 761px) {
	.caption {
		width: 60%;
	}
}


/***************************
****************************
CONTACT FORM, SECTION, AND BACKGROUND
****************************
***************************/

.contact {
	width: 100%;
	min-height: 500px;
	background: url('../img/form-map.jpg') no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

fieldset {
	margin: 1em;
	padding: 2em;
	background: rgba(255, 255, 255, 0.5);
	color: #000;
	border-radius: 3px;
}

/* forces width so divs can be floated on larger screens */
@media screen and (min-width: 761px) {
	fieldset {
		width: 40em;
	}
}

.form-1 input, textarea {
	display: block;
	margin-bottom: 1em;
	padding: .50em;
	width: 15em;
}

.form-1 textarea {
	height: 5em;
}

.form-1 label {
	font-size: .85em;
}

.form-2 input, label {
	margin-bottom: 1em;
}

.form-2 input {
	margin-right: .5em;
}

.form-2 p {
	padding-left: 0;
}

.form-2 {
	margin-top: 2em;
}

@media screen and (min-width: 761px) {
	.form-1 {
		float: left;
		margin-right: 5em;
	}
	.form-2 {
		margin-top: 0;
	}
}

button {
	width: 15em;
	height: 2.5em;
	background-color: #293C54;
	color: #fff;
    margin-top: 2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #1E441E;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.5);
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

input:focus, textarea:focus {
	/* changes the default blue glow to a green that matches my design */
	outline: none;
	border: 3px solid #52A349;
	box-shadow: 0 0 10px #52A349;
}


/***************************
****************************
ABOUT SECTION
****************************
***************************/

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #EAF2EF;
}

.about p {
	margin-bottom: 3em;
}


/***************************
****************************
GOOGLE MAP
****************************
***************************/

#map {
	height: 400px;
}


/***************************
****************************
FOOTER
****************************
***************************/

.footer {
	text-align: center;
	height: 5em;
	margin-bottom: 4.5em; /* added margin to compensate for bottom navbar height on smaller screens */
	background-color: #03120E;
	color: #b3b3b3
}

.footer p {
	padding-top: 2em;
    margin-top: 0;
}

/* removes margin since nav is now at the top */
@media screen and (min-width: 761px) {
	.footer {
		margin-bottom: 0;
	}
}